{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Главная страница{% endblock %}</title>
</head>
<body>
    <header>
        <nav>
            {% block menu %}
                {% load draw_menu %}
                <!-- Чтобы подгрузить новое меню, нужно указать его SLUG -->
                {% draw_menu 'services' %}
            {% endblock %}
        </nav>
    </header>
</body>
</html>
